* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Righteous", cursive;
  border-radius: 25px;
}
a {
  width: 200px;
  padding: 5px 10px;
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}
a:hover .wave {
  top: -120px;
}
a span {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 13px;
  letter-spacing: 6px;
}
a .wave {
  width: 200px;
  height: 200px;
  background-color: #444857;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: -80px;
  transition: 0.4s;
}
a .wave::before,
a .wave::after {
  width: 200%;
  height: 200%;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}
a .wave::before {
  border-radius: 45%;
  background-color: rgba(20, 20, 20, 1);
  animation: wave 5s linear infinite;
}
a .wave::after {
  border-radius: 40%;
  background-color: rgba(20, 20, 20, 0.5);
  animation: wave 10s linear infinite;
}
@keyframes wave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
