.father {
  display: block;
  margin-left: 2vw;
  margin-bottom: 4vw;
  margin-top: 1.5vw;
}

.father h2 {
  font-size: 1.1vw;
}

#hash_input{
  cursor: no-drop;
}

.form__field {
  font-family: "Viaoda Libre", cursive;
  width: 25vw;
  display: block;
  border-bottom: 2px solid #9b9b9b;
  outline: 0.5;
  font-size: 1vw;
  color: rgb(0, 0, 0);
  padding: 0.2vw 0;
  background: transparent;
  transition: border-color 0.2s;
}

textarea {
  font-family: "ViaoDa Libre", cursive;
  height: 19vw;
  width: 25.5vw;
 display: block;
  border-bottom: .5vw solid #000;  
  font-size: 1.3vw;
  color: rgb(0, 0, 0);
  background: transparent;
  transition: border-color 0.2s;
}
